<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongyew.unabizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UNABIZApp">
        <activity android:name=".Testing"></activity>
        <activity android:name=".Scanning" />
        <activity android:name=".ScanError" />
        <activity android:name=".ScanComplete" />
        <activity android:name=".ReMap" />
        <activity android:name=".PreScan" />
        <activity android:name=".NoMap" />
        <activity android:name=".NextScan" />
        <activity android:name=".MappingAccess" />
        <activity android:name=".GetFloorPlan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>